<launch>
  <!-- Service for panel locations -->
  <node pkg="lucia_sim_2014" type="panel_serv" name="panel_serv" output="screen">

                <!-- panel_1-->
		<param name="panel1_x1" type="double" value="7.0" />
		<param name="panel1_y1" type="double" value="-9.0" />
		<param name="panel1_x2" type="double" value="9.0" />
		<param name="panel1_y2" type="double" value="-7.0" />

                <!-- panel_2-->
		<param name="panel2_x1" type="double" value="-7.0" />
		<param name="panel2_y1" type="double" value="-9.0" />
		<param name="panel2_x2" type="double" value="-9.0" />
		<param name="panel2_y2" type="double" value="-7.0" />

                <!-- panel_3-->
		<param name="panel3_x1" type="double" value="-9.0" />
		<param name="panel3_y1" type="double" value="7.0" />
		<param name="panel3_x2" type="double" value="-7.0" />
		<param name="panel3_y2" type="double" value="9.0" />

                <!-- panel_4-->
		<param name="panel4_x1" type="double" value="7.0" />
		<param name="panel4_y1" type="double" value="9.0" />
		<param name="panel4_x2" type="double" value="9.0" />
		<param name="panel4_y2" type="double" value="7.0" />
   </node>


</launch>

