<?xml version="1.0"?>
<launch>
  <node name="lucia_meta_csp_lecture" pkg="lucia_meta_csp_lecture" type="active_perception" args="se.oru.aass.lucia_meta_csp_lecture.tests.TestGeometricMetaConstraint" output="screen">
     <!--param name="num_used_panels" type="int" value="2" /-->
     <rosparam param="used_panels">[1,4,6]</rosparam>     
     <rosparam param="used_robots">[2,3,4]</rosparam>     
     <!--param name="num_used_robots" type="int" value="2" /-->

     <rosparam param="hidden_panel_sides">[2, 1, 0, 0, 1, 0]</rosparam>
     <!--param name="exclude_panel_1_side" type="int" value="2" /-->
     <!--param name="exclude_panel_2_side" type="int" value="1" /-->
     
     <!--NO<param name="exclude_panel_3_side" type="int" value="1" />-->
     <!--NO<param name="exclude_panel_4_side" type="int" value="1" />-->
     
     <!--param name="exclude_panel_5_side" type="int" value="1" /-->
     
     <!--NO<param name="exclude_panel_6_side" type="int" value="1" />-->
  </node>
</launch>
